.venv/
venv/
env/
.env
.env/

# --------------------------------- Arquivos de dados ---------------------------------
data/*


# --------------------------------- Arquivos jupyter notebook ---------------------------------
*.ipynb