.venv/
venv/
env/
.env
.env/

# --------------------------------- Arquivos de dados ---------------------------------
prev_analytics/data/*


# --------------------------------- Arquivos jupyter notebook ---------------------------------
*.ipynb